extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2> Welcome to WholeSale Shops Recommendation, your one-stop solution for discovering the best wholesale shops around you.Our platform is designed to help businesses and individuals find reliable wholesale shops for their needs. </h2>
<br/><br/>