extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2>  we specialize in providing a wide range of high-quality products at unbeatable wholesale prices. Whether you're a retailer, business owner, or looking to stock up for your needs, we’re committed to helping you find exactly what you’re looking for.</h2>
<br/><br/>