extends layout

block content
  .row.banner
    .col-12
      h1  Charminar Textile Market
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Charminar, Hyderabad
          
          .card.card-primary
            .card-block
              h2.card-title Category
              p.card-text Fabrics and Textiles

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Wholesale discounts for bulk buyers
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Doorstep delivery for large orders
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Custom fabric cutting and stitching services
              | &nbsp;
          .card.card-primary
            .card-block
              h2.card-title Timings
              p.card-text Monday to Saturday: 9:30 AM – 7:30 PM
              p.card-text Sunday: 10:00 AM – 6:00 PM    

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map 
              <a href="https://www.google.com/maps/@17.442966,78.661608,14z?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              Location <br> <img src="stylesheets/images.jpeg" alt="Location Map"class="img-fluid">
        </a>
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="/stylesheets/buying-clothes-in-bulk-for-resale.jpg" class="img-fluid">
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="/stylesheets/th (2).jpg" class="img-fluid">
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="/stylesheets/e0f477b37d0d5d53ff3ba75cd0500a05.jpg" class="img-fluid">               
        </a>
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new')
              | Add review
            h2.card-title Customer reviews
            
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Neetu,
                small.reviewTimestamp 27 August 2024
              .col-12
                p Affordable goods and good quality.Happy with their collection.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Krithika,
                small.reviewTimestamp 30 February 2024
              .col-12
                p Wide variety of fabrics at affordable rates. Excellent for boutique owners.
    
    .col-12.col-lg-3
      p.lead
        |<h4><p style="color: black;">Located in the bustling Charminar area, this wholesale market specializes in fabrics, textiles, and sarees. It is a popular destination for boutique owners and small-scale fashion designers.
</h4>