extends layout

block content
  .row.banner
    .col-12
      h1 FeelKnit Garments Wholesale
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Koti, Hyderabad
          
          .card.card-primary
            .card-block
              h2.card-title Category
              p.card-text Clothing and Apparel

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Custom garment labeling
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Online ordering system 
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Seasonal discounts for regular clients
              | &nbsp;
          .card.card-primary
            .card-block
              h2.card-title Timings
              p.card-text Monday to Saturday: 10:00 AM – 8:30 PM
              p.card-text Sunday: Closed 
      
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map 
              <a href="https://www.google.com/maps/@17.442966,78.661608,14z?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              Location <br> <img src="stylesheets/images.jpeg" alt="Location Map"class="img-fluid">
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="stylesheets/Wholesale-Apparel.jpg" class="img-fluid">
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="/stylesheets/th 3.jpg" class="img-fluid">  
        .col-12.col-md-4.StoreImage
          .card.card-primary
            .card-block
              h2.card-title Store Image
              Location <br> <img src="/stylesheets/variety-of-men-fashionable-stylish-clothes-in-modern-garments-shop-2BHTTJ9.jpg" class="img-fluid">          
      </a>
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new')
              | Add review
            h2.card-title Customer reviews
            
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Radhika,
                small.reviewTimestamp 12 January 2024
              .col-12
                p Great service and prompt delivery. I highly recommend them!

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Suman,
                small.reviewTimestamp 13 March 2024
              .col-12
                p Excellent quality garments! Always my first choice for bulk purchases.
    
    .col-12.col-lg-3
      p.lead
        |<h4><p style="color: black;">FeelKnit is a popular wholesale destination for readymade garments, including casual wear, ethnic wear, and kids' clothing. It caters to retail outlets and online fashion businesses.
</h4>